#main_forum {
    width: 80%;

    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.Forum_Kategorie_head {
    text-align: center;
}

.Forum{
    width: 100%;
    cursor: pointer;
}
.Forum_icon {
    margin-top: 2%;
    font-size: 24px;
    display: inline-block;
    margin-right: 2.5%;
}
.Forum_name {
    display: inline-block;
    font-size: 24px;
}
.Forum_beschreibung {
    margin-left: 4.8%;
    font-size: 14px;
}


/* Beitrags ubersicht */

.Beitrag_ubersicht_beschreibung {
    font-size: 14px !important;
}
.beitrage {
    margin-top: 1%;
    cursor: pointer;
}
.beitrag_container {
    margin-bottom: 2%;
}

.neuen_beitrag_button{
    float: right;
    display: inline-block;
    margin-right: 15%;
    margin-top: -2%;

    height: 120%;

    background-color: rgba(69, 255, 88, 0.25);
    color: #45FF58;

    font-size: 20px;
}
.beitrag_button{
    width: 14%;

    font-weight: 500;
    font-size: 100%;
    line-height: 27px;

    border: none;
    outline:none;

    border-radius: 10px;
}
.beitrag_container{
    display: inline-block;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}
.beitrag_bild {
    width: 70px;
    border-radius: 100%;
    margin-top: 0.5%;
}
.beitrag_name {
    margin-left: 10%;
    margin-top: -4.3%;
    font-size: 20px;
}
.beitrag_antworten {
    float: right;

    margin-top: -4%;
    margin-right: 35%;

    font-size: 20px;
}
.beitrag_zugriffe {
    float: right;

    margin-top: -4%;
    margin-right: 25%;

    font-size: 20px;
}
.beitrag_letzer_beitrag {
    float: right;

    margin-top: -4.3%;
    margin-right: 1%;

    width: 13%;

    font-size: 20px;
}
.beitrag_subtitle {
    font-size: 14px;
}
.none_margin_top {
    margin-top: 0% !important;
    text-align: center;
}

@media only screen and (min-width: 2250px) {
    .beitrag_antworten {
        margin-top: -2%;
    }
    .beitrag_zugriffe{
        margin-top: -2%;
    }
    .beitrag_letzer_beitrag {
        margin-top: -2.5%;
    }
    .beitrag_name {
        margin-top: -3.5%;
    }
}

/*Beitrags seite*/
.beitrag_main_container{
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-wrap: wrap;
}

.beitrag_teiler {
    min-width: 25%;
}
.beitrag_teile_headline{
    width: 100%;
    height: 10%;

    min-width: unset !important;
    align-self: flex-start;

    margin-left: 0%;
    margin-bottom: 2%;
}
.beitrag_teile_input {
    width: 100%;
    height: 88%;
    align-self: flex-start;
    margin-top: 2%;
}
.beitrag_verwalter_conatiner{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
}
.beitrag_verwalter {
    width: 90%;
    min-height: 25%;

    display: flex;
    flex-wrap: wrap;

    margin-left: 5%;
    margin-right: 5%;

    border-radius: 25px;

    margin-bottom: 2%;
    background-color: #0D172E;
}
.beitrag_abzeige_conatiner {

}
.beitrag_abzeige_conatiner_userinfo {
    margin-right: 4.1%;
    min-width: 25%;

    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}
.beitrag_abzeige_conatiner_beitraginfo{
    width: 70%;

    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.beitrag_kommentar_bild{
    width: 128px;
    height: 128px;
    border-radius: 100%;
    margin-top: 15%;
    margin-bottom: 5%;
}
.beitrag_kommentar_user_name {
    font-size: 24px;
    width: 100%;
    text-align: center;

    margin-bottom: 5%;
}
.beitrag_kommentar_user_headline{
    font-size: 20px;
    margin-left: 2%;
    margin-top: 2%;
    width: 100%;
}
.beitrag_kommentar_user_headline_subtext{
    font-size: 12px;
    margin-left: 2%;
    width: 100%;
}
.beitrag_kommentar_user_beitrag {
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;

    flex-wrap: wrap;
}
.beitrag_kommentar_user_danks {
    width: 70%;
    margin-top: 0%;
    margin-left: 2%;
}
.beitrag_kommentar_user_button {
    float: right;
    margin-right: 5%;
    width: 30%;
}
.likebutton {
    background-color: rgb(1,116,223, 0.25);
    color: #0174DF;

    width: 40px;
    height: 40px;
    font-size: 140%;
}
.meldebutton {
    background-color: rgba(229, 51, 51, 0.25);
    color: #E53333;

    width: 40px;
    height: 40px;
    font-size: 140%;
}
.senden_button{
    width: 200px;
    height: 40px;
    margin-top: 2%;
}
.button_container {
    text-align: center;
}

/*Drak Themen editor*/
.ck-box {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;

    max-width: 95%;
}
.ck-content {
    background-color: #17213D !important;
    border: unset !important;

    min-height: 150px !important;
}
.beitrag_headline_conatiner_with_top {
    margin-top: 5%;
}
.headline_conatiner_beitrag{
    display: flex;
    flex-wrap: wrap;
}
.headline_conatiner_head {
    width: 100%;
}
.headline_button{
    width: 50px;
    height: 50px;

    font-size: 120%;
    float: unset!important;

    margin-right: 1%!important;
}
.button_rot {
    background-color: rgba(229, 51, 51, 0.25);
    color: #E53333;

}
.button_grun {
    background-color: rgba(69, 255, 88, 0.25);
    color: #45FF58;
}
.button_blau {
    background-color: rgb(1,116,223, 0.25);
    color: #0174DF;
}
.headline_button_coantiner {

}
.headline-text {
    width: 50%;
    display: inline-block;
}
.headline-text-sub {
    margin-right: 50%;
}
:root {
    /* Overrides the border radius setting in the theme. */
    --ck-border-radius: 4px;

    /* Overrides the default font size in the theme. */
    --ck-font-size-base: 14px;

    /* Helper variables to avoid duplication in the colors. */
    --ck-custom-background: hsl(270, 1%, 29%);
    --ck-custom-foreground: hsl(255, 3%, 18%);
    --ck-custom-border: hsl(300, 1%, 22%);
    --ck-custom-white: hsl(0, 0%, 100%);

    /* -- Overrides generic colors. ------------------------------------------------------------- */

    --ck-color-base-foreground: var(--ck-custom-background);
    --ck-color-focus-border: hsl(208, 90%, 62%);
    --ck-color-text: hsl(0, 0%, 98%);
    --ck-color-shadow-drop: hsla(0, 0%, 0%, 0.2);
    --ck-color-shadow-inner: hsla(0, 0%, 0%, 0.1);

    /* -- Overrides the default .ck-button class colors. ---------------------------------------- */

    --ck-color-button-default-background: var(--ck-custom-background);
    --ck-color-button-default-hover-background: hsl(270, 1%, 22%);
    --ck-color-button-default-active-background: hsl(270, 2%, 20%);
    --ck-color-button-default-active-shadow: hsl(270, 2%, 23%);
    --ck-color-button-default-disabled-background: var(--ck-custom-background);

    --ck-color-button-on-background: var(--ck-custom-foreground);
    --ck-color-button-on-hover-background: hsl(255, 4%, 16%);
    --ck-color-button-on-active-background: hsl(255, 4%, 14%);
    --ck-color-button-on-active-shadow: hsl(240, 3%, 19%);
    --ck-color-button-on-disabled-background: var(--ck-custom-foreground);

    --ck-color-button-action-background: hsl(168, 76%, 42%);
    --ck-color-button-action-hover-background: hsl(168, 76%, 38%);
    --ck-color-button-action-active-background: hsl(168, 76%, 36%);
    --ck-color-button-action-active-shadow: hsl(168, 75%, 34%);
    --ck-color-button-action-disabled-background: hsl(168, 76%, 42%);
    --ck-color-button-action-text: var(--ck-custom-white);

    --ck-color-button-save: hsl(120, 100%, 46%);
    --ck-color-button-cancel: hsl(15, 100%, 56%);

    /* -- Overrides the default .ck-dropdown class colors. -------------------------------------- */

    --ck-color-dropdown-panel-background: var(--ck-custom-background);
    --ck-color-dropdown-panel-border: var(--ck-custom-foreground);

    /* -- Overrides the default .ck-splitbutton class colors. ----------------------------------- */

    --ck-color-split-button-hover-background: var(--ck-color-button-default-hover-background);
    --ck-color-split-button-hover-border: var(--ck-custom-foreground);

    /* -- Overrides the default .ck-input class colors. ----------------------------------------- */

    --ck-color-input-background: var(--ck-custom-background);
    --ck-color-input-border: hsl(257, 3%, 43%);
    --ck-color-input-text: hsl(0, 0%, 98%);
    --ck-color-input-disabled-background: hsl(255, 4%, 21%);
    --ck-color-input-disabled-border: hsl(250, 3%, 38%);
    --ck-color-input-disabled-text: hsl(0, 0%, 78%);

    /* -- Overrides the default .ck-labeled-field-view class colors. ---------------------------- */

    --ck-color-labeled-field-label-background: var(--ck-custom-background);

    /* -- Overrides the default .ck-list class colors. ------------------------------------------ */

    --ck-color-list-background: var(--ck-custom-background);
    --ck-color-list-button-hover-background: var(--ck-custom-foreground);
    --ck-color-list-button-on-background: hsl(208, 88%, 52%);
    --ck-color-list-button-on-text: var(--ck-custom-white);

    /* -- Overrides the default .ck-balloon-panel class colors. --------------------------------- */

    --ck-color-panel-background: var(--ck-custom-background);
    --ck-color-panel-border: var(--ck-custom-border);

    /* -- Overrides the default .ck-toolbar class colors. --------------------------------------- */

    --ck-color-toolbar-background: var(--ck-custom-background);
    --ck-color-toolbar-border: var(--ck-custom-border);

    /* -- Overrides the default .ck-tooltip class colors. --------------------------------------- */

    --ck-color-tooltip-background: hsl(252, 7%, 14%);
    --ck-color-tooltip-text: hsl(0, 0%, 93%);

    /* -- Overrides the default colors used by the ckeditor5-image package. --------------------- */

    --ck-color-image-caption-background: hsl(0, 0%, 97%);
    --ck-color-image-caption-text: hsl(0, 0%, 20%);

    /* -- Overrides the default colors used by the ckeditor5-widget package. -------------------- */

    --ck-color-widget-blurred-border: hsl(0, 0%, 87%);
    --ck-color-widget-hover-border: hsl(43, 100%, 68%);
    --ck-color-widget-editable-focus-background: var(--ck-custom-white);

    /* -- Overrides the default colors used by the ckeditor5-link package. ---------------------- */

    --ck-color-link-default: hsl(190, 100%, 75%);
}
