@media only screen and (max-width: 768px) {
    #main_forum {
        width: 80%;

        margin-left: 10%;
        margin-top: 2%;
        margin-bottom: 10%;
    }
    .Forum_Kategorie_head {
        text-align: center;
    }

    .Forum{
        width: 100%;
    }
    .Forum_icon {
        margin-top: 2%;
        font-size: 24px;
        display: inline-block;
        margin-right: 2.5%;
    }
    .Forum_name {
        display: inline-block;
        font-size: 16px;
        margin-top: 10%;
    }
    .Forum_beschreibung {
        margin-left: 4.8%;
        font-size: 12px;
        display: none;
    }

    /* Beitrags ubersicht */

    .Beitrag_ubersicht_beschreibung {
        font-size: 14px !important;
    }
    .beitrage {
        margin-top: 3%;
    }
    .beitrag_container {
        margin-bottom: 2%;
    }

    .neuen_beitrag_button{
        float: right;
        display: inline-block;
        margin-right: 25%;
        margin-top: 6%;
        margin-bottom: 10%;

        height: 120%;

        background-color: rgba(69, 255, 88, 0.25);
        color: #45FF58;

        font-size: 20px;
    }
    .beitrag_button{
        width: 50%;

        font-weight: 500;
        font-size: 70%;
        line-height: 27px;

        border: none;
        outline:none;

        border-radius: 10px;
    }
    .beitrag_container{
        display: inline-block;
        width: 90%;
        margin-top: 5%;
        margin-left: 5%;
    }
    .beitrag_bild {
        width: 40px;
        border-radius: 100%;
        margin-top: 0.5%;

    }
    .beitrag_name {
        margin-left: 17%;
        margin-top: -12%;
        font-size: 16px;
        display: inline-block;
        min-width: 80%;
    }

    .beitrag_antworten {
        float: right;

        margin-top: -4%;
        margin-right: 35%;

        font-size: 20px;
        display: none;
    }
    .beitrag_zugriffe {
        float: right;

        margin-top: -4%;
        margin-right: 25%;

        font-size: 20px;
        display: none;
    }
    .beitrag_letzer_beitrag {
        float: right;

        margin-top: -4.3%;
        margin-right: 1%;

        width: 13%;

        font-size: 20px;
        display: none;
    }
    .beitrag_subtitle {
        font-size: 10px;
    }
    .none_margin_top {
        margin-top: 0% !important;
        text-align: center;
    }
    .headline_conatiner {
        text-align: center;
        padding-left: 0% !important;
        margin-left: 0% !important;
        margin-top: 7%;
    }
    .beitrag_headline_conatiner {
        margin-top: 1.5%;
    }
    .beitrag_headline_conatiner_with_top {
         margin-top: 20%;
     }
}
/* für besonders kleien Handy*/
@media only screen and (max-width: 374px) {
    .beitrag_name {
        margin-top: -16% !important;
        margin-left: 25% !important;
    }
}