.userNameDisplay {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    width: 20%;

    margin: 0px;
}
.userUbersichtRang{
    width: 14%;
    height: 6%;

    font-weight: 500;
    font-size: 150%;
    line-height: 27px;

    border: none;
    outline:none;

    float: right;
    border-radius: 10px;
    margin-right: 17%;
}
.userListeBild {
    width: 5%;
    height: auto;

    margin-right: 1%;
    margin-left: 2%;

    border-radius: 25%;
}
.userListName {
    font-size: 28px;
    margin-left: 2%;
    text-transform: capitalize;
    overflow: hidden;
}
.userListName:first-letter {
    text-transform: uppercase;
}
.userEditButton {
    width: 5% !important;
    height: 11% !important;

    background-color: rgba(69, 255, 88, 0.25);
    color: #45FF58;

    margin-right: 2%;
    float: right;
    border: none;
}
.userBlockButton {
    width: 5% !important;
    height: 11% !important;

    background-color: rgba(229, 51, 51, 0.25);
    color: #E53333;

    margin-right: 2%;
    float: right;
    border: none;
}
.userMessageButton{
    width: 5% !important;
    height: 11% !important;

    background-color: rgba(51, 143, 229, 0.25);
    color: #338FE5;

    margin-right: 2%;
    float: right;
    border: none;
}
.conatiner_user {
    width: 100%;
    margin-top: 3%;
}
.conatiner_button{
    display: inline;
}
.feedback_hub {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 6%;

    height: 6%;

    padding-top: 7px;
    padding-left: 11px;

    background-color: rgba(69, 255, 88, 0.25);

    border-radius: 10px;

   display: none;
}