/*Allgemeins Handy Desing*/
@media only screen and (max-width: 425px) {
    #pb_settings{
        display: none;
    }
    .userUbersichtRang{

    }
    .userListName {
        font-size: 21.5px;

        text-align: center;
        width: 100%;
        display: block;

        margin-top: 15%;
    }

    .userUbersichtRang {
        display: none;
        width: 53%;
        margin-right: 2%;
    }

    .userEditButton{
        width: 21% !important;
        height: 100% !important;
        margin-top: 2%;

        justify-content: space-around;
        font-size: 120%;
    }
    .userBlockButton{
        width: 21% !important;
        height: 100% !important;

        margin-top: 2%;
        font-size: 120%;

        justify-content: space-around;
    }

    .userMessageButton{
        width: 21% !important;
        height: 100% !important;

        margin-top: 2%;
        font-size: 120%;

        justify-content: space-around;
    }
    .conatiner_button {
        margin-left: 10%;
        height: 6%;
        display: flex !important;
        align-items:center;
    }
    .userSachenFeld {
        width: 80%;
        margin-bottom: 3%;
    }
}
/*Button anpassungen Größere Handy*/
@media only screen and (min-width: 346px) and (max-width: 425px) {
    .conatiner_button {
        margin-left: 10%;
        height: 8%;
        display: flex !important;
        align-items:center;
        font-size: 150%;
    }
}