.headline_conatiner{
    width: 100%;
    height: 9%;

    padding-left: 5%;
    padding-top: 2%;

    font-size: 39px;
}
.page_main {
    width: 92%;
    height: 80%;

    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;

    border-radius: 10px;

    background-color: #0D172E;

    overflow: scroll;
    overflow-x: hidden;
}
.input_fild_normal{
    margin-top: 2%;
    margin-left: 2%;

    padding-left: 1%;
    padding-right: 1%;

    width: 50%;
    height: 5%;

    border: none;
    outline:none;

    font-weight: 500;
    font-size: 17px;
    line-height: 21px;

    color: white;
    background-color: #17213D;
    border-radius: 10px;
}
.input_fild_normal_textarea {
    width: 96% !important;
    height: 15% !important;

    padding-top: 1%;
}
.input_fild_normal::placeholder{
    color: #7B8B9E;
}
.bg-red {
    background-color: #E53333;
}
.color-green {
    color: #45FF58 !important;
}