.headline_conatiner{
    width: 100%;
    height: 3vh;

    padding-left: 5%;
    padding-top: 2%;

    font-size: 25px;
}
.page_main {
    width: 92%;
    min-height: 70vh;

    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 4%;
    margin-right: 4%;

    border-radius: 10px;

    background-color: #0D172E;

    overflow-x: hidden;
}
.page_main_scroll_hidden {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    overflow: hidden !important;
}
.input_fild{
    margin-top: 2%;
    margin-left: 2%;

    padding-left: 1%;
    padding-right: 1%;

    border: none;
    outline:none;

    color: white;
    background-color: #17213D;
    border-radius: 10px;
}
.input_fild_checkbox{
    margin-top: 4%;
    margin-left: 2%;

    float: right;

    padding-left: 1%;
    padding-right: 1%;

    border: none;
    outline:none;

    color: white;
    background-color: #17213D;
    border-radius: 10px;
    transform: scale(1.3);
}
.input_fild_checkbox_holder{
    display: inline-block;

    margin-top: 2%;
    margin-left: 2%;

    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.4%;

    width: 7%;
    height: 5%;

    border: none;
    outline:none;

    font-weight: 500;
    font-size: 90%;
    line-height: 21px;

    color: white;
    background-color: #17213D;
    border-radius: 10px;
}
.input_fild_normal{
    margin-top: 2%;
    margin-left: 2%;

    padding-left: 1%;
    padding-right: 1%;

    width: 92%;
    height: 40px;

    border: none;
    outline:none;

    font-weight: 500;
    font-size: 17px;
    line-height: 21px;

    color: white;
    background-color: #17213D;
    border-radius: 10px;
}
.input_dark_background{
    background-color: #0D172E !important;
}
.input_fild_half{
    margin-top: 2%;
    margin-left: 2%;

    padding-left: 1%;
    padding-right: 1%;

    width: 45%;
    height: 40px;

    border: none;
    outline:none;

    font-weight: 500;
    font-size: 17px;
    line-height: 21px;

    color: white;
    background-color: #17213D;
    border-radius: 10px;
}


.input_fild_normal_textarea {
    width: 92% !important;
    height: 140px !important;

    padding-top: 1%;
}
.input_fild_normal::placeholder{
    color: #7B8B9E;
}


.bg-red {
    background-color: #E53333;
}
.color-green {
    color: #45FF58 !important;
}
.button {
    float: right;

    width: 5%;
    height: 100%;

    font-size: 230%;
    border: none;
    outline:none;

    border-radius: 25%;
    margin-right: 3%;
}
.button_new {
    border: none;
    outline:none;

    font-size: 20px;
    border-radius: 25px;
}
.button_color_green {
    background-color: rgba(69, 255, 88, 0.25);
    color: #45FF58;
}
.button_color_gray {
    background-color: rgba(199, 205, 216, 0.25);
    color: #C7CDD8;
}
.display_name:first-letter {
    text-transform: uppercase;
}
.feedback_hub {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10%;
    margin-bottom: 2%;

    height: 40px;

    padding-top: 10px;
    padding-left: 11px;

    background-color: rgba(69, 255, 88, 0.25);

    border-radius: 10px;

    display: none;
}

/* Große Displays*/
@media only screen and (min-height:  1300px) {
    .input_fild_checkbox_holder{
        padding-top: 0.55%;
    }
    .feedback_hub {
        padding-top: 13px !important;
    }
}