.newRangButton{
    float: right;
    display: inline-block;
    margin-right: 15%;
    margin-top: 1%;

    height: 120%;

    background-color: rgba(69, 255, 88, 0.25);
    color: #45FF58;

    font-size: 20px;
}
.dragtaget{
    cursor: pointer;
}

.buttonDeleteFrontEnd{
   height: 75% !important;
   font-size: 180% !important;
}
.buttonBack {
    background-color: rgba(199, 205, 216, 0.25) !important;
    color: #C7CDD8 !important;
}
.button {
    margin-bottom: 2%;
    margin-right: 6%;

    width: 70px;
    height: 70px !important;
    float: right;

}


@media only screen and (max-width: 715px) {
    .newRangButton {
        /*display: none;*/
    }
}