@media only screen and (max-width: 768px) {
    #MainSek {
        overflow-y: scroll !important;
    }
    .flexbox_container {
        height: 30vh !important;
    }
    .dashbordProjektKasten {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 5%;
        overflow-y: scroll !important;
    }
    .dashbordUberschrift {
        margin-top: 5% !important;
        margin-left: 15%;
    }
    .dashbordNewsKasten {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 5%;
        overflow-y: scroll;
    }
    .flexbox_container {
        overflow-y: unset !important;
    }
    .buttonMoreProjekts {
        visibility: hidden;
    }
    .flexbox_container_news {
       overflow-y: scroll;
    }
    h1 {
        font-size: 22px;
        margin-left: 5%;
    }

    .bi-x-diamond-fill {
        display: none;
    }
    .dashbordProjektImg {
        margin-left: 25%;
        margin-top: 6%;
    }
}
/*Große Handys*/
@media only screen and (min-width: 323px) and (max-width: 768px) {
    .dashbordProjektImg {
        margin-left: 25%;
        margin-top: 9%;
    }
    .dashbordProjektButton {
        margin-left: 22.5%;
    }
    .flexbox {
       width: 70vw;
        margin-left: 3%;
    }
}
/*Tabellet*/
@media only screen and (min-width: 425px) and (max-width: 768px) {
    .dashbordProjektImg {
        margin-left: 25%;
        margin-top: 5%;
    }
}
@media only screen and (min-width: 490px) and (max-width: 768px) {
    .dashbordProjektImg {
        margin-left: 25%;
        margin-top: 8%;
    }
    .flexbox {
        width: 55vw;
        margin-left: 15%;
    }
}
@media only screen and (min-width: 490px) and (max-width: 768px) {
    .dashbordProjektImg {
        margin-left: 25%;
        margin-top: 8%;
    }
    .flexbox {
        width: 55vw;
        margin-left: 15%;
    }
}
@media only screen and (min-width: 550px) and (max-width: 768px) {
    .dashbordProjektImg {
        margin-left: 30%;
        margin-top: 10%;

        width: 20%;
    }
    .flexbox {
        width: 55vw;
        margin-left: 15%;
    }
}
@media only screen and (min-width: 650px) and (max-width: 768px) {
    .dashbordProjektImg {
        margin-left: 30%;
        margin-top: 3%;

        width: 25%;
    }
    .flexbox {
        width: 55vw;
        margin-left: 15%;
    }
}
