.page_main {
    padding-top: 3%;
    padding-bottom: 3%;
}
.Forum_Kategorie {
    width: 80%;
    margin-left: 10%;
}
.Forum_Kategorie_head {
    text-align: center;
}
.button_forum {
    border: none;
    outline:none;


    margin-top: 0.5%;

    border-radius: 10px;

    font-size: 20px;
    width: 200px;
    height: 35px;
}
.button_forum_small {
    border: none;
    outline:none;


    margin-top: 0.5%;

    border-radius: 10px;

    font-size: 20px;
    width: 50px;
    height: 50px;
}
.neue_kategorie{
    background-color: rgba(69, 255, 88, 0.25);
    color: #45FF58;

    margin-right: 13%;
    float: right;
}
.Forum_icon {
    margin-top: 2%;
    font-size: 24px;
    display: inline-block;
    margin-right: 2.5%;
}
.Forum_name {
    display: inline-block;
    font-size: 24px;

    width: 90%;
}
.Forum_beschreibung {
    margin-left: 4.8%;
    font-size: 14px;
}
.Forum_Kategorie_buttons {
    text-align: center;
}
.edit_kategorie{
    background-color: rgba(69, 255, 88, 0.25);
    color: #45FF58;
}
.create_forum{
    background-color: rgb(1,116,223, 0.25);
    color: #0174DF;
}
.delete_kategorie{
    background-color: rgba(229, 51, 51, 0.25);
    color: #E53333;
}
.back_kategorie{
    background-color: rgba(199, 205, 216, 0.25);
    color: #C7CDD8;
}
.hinweis {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;

    width: 91%;


    border-radius: 10px;
    padding: 1%;

    background-color: rgba(255, 231, 15, 0.25);
}
.create_button_conatiner {
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 3%;

    width: 92%;
    text-align: center;
}
.forn_button_container {
    float: right;

    width: 15%;
    text-align: center;
}
.Forum_name {
    width: 80%;
}
.drag_and_drop_target {
    border: 2px dashed white;
}
.drag_and_drop_target_current{
    border-color: #E53333;
    border-width: 4px;
}