/*Allgemins Tablet dinsg*/
@media only screen and (min-width: 426px) and (max-width: 1270px) {
    .UserText{
        display: none;
    }

    .userListeBild {

    }

    .einladungsText {
        width: 35%;
        margin-left: 10%;
        height: 50%;

        padding-top: 3%;
    }
    .deleteButton {
        width: 13%;
        height: 75px;
        margin-right: 5%;

        font-size: 140%;
    }

     .addbutton {
        width: 30%;
     }
}
@media only screen and (min-width: 1271px) and (max-width: 1919px) {
    .deleteButton {
        width: 8%;
        height: 75px;
    }
    .addbutton {
        width: 18%;
    }
}