/*Allgemeins Handy Desing*/
@media only screen and (max-width: 425px) {
    .UserText{
        visibility: hidden;
    }

    .userListeBild {
        visibility: hidden;
    }
    .einladungsText {
        width: 90%;
        margin-left: 5%;
        height: 50%;
    }
    .deleteButton {
        width: 35%;
        height: 75px;
        margin-right: 33%;
        margin-bottom: 10%;
        margin-top: 2%;
    }
    .addbutton {
        width: 80%;
        margin-bottom: 3%;
    }
    .headline_conatiner {
        font-size: 20px !important;
    }
    .headline-text {
        margin-bottom: 10%;
        display: inline-block;
    }
    .item_container {
        margin-top: -10% !important;
    }
}
/* Große Handys*/
@media only screen and (min-width: 376px) and (max-width: 425px) {
    .headline_conatiner {
        font-size: 25px !important;
    }
    .item_container{
        text-align: center;
    }
    .deleteButton {
        width: 30%;
        height: 80px;
    }
}